{% extends "layout.html" %}

{% block title %}Openings de Inazuma Eleven{% endblock %}

{% block content %}
  <h2>Temporada: Inazuma Eleven</h2>
  <a href="/">← Volver al inicio</a>

  <div class="contenedor-principal">
    <div class="columna">
      <a href="/inazuma-go/opening1">
        <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven_go/openings/opening1.jpg') }}">
        <h2>Opening 1</h2>
      </a>
    </div>

    <div class="columna">
      <a href="/inazuma-go/opening2">
        <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven_go/openings/opening2.jpg') }}">
        <h2>Opening 2</h2>
      </a>
    </div>
    
  </div>
{% endblock %}

