{% extends "layout.html" %}

{% block title %}Openings de Inazuma Eleven{% endblock %}

{% block content %}
    <h2>Temporada: Inazuma Eleven</h2>
    <a href="/">← Volver al inicio</a>

    <div class="contenedor-principal">
        <div class="columna">
            <a href="/inazuma-eleven/opening1">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening1.webp') }}">
                <h2>Opening 1</h2>
            </a>
        </div>

        <div class="columna">
            <a href="/inazuma-eleven/opening2">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening2.jpg') }}">
                <h2>Opening 2</h2>
            </a>
        </div>
        <div class="columna">
            <a href="/inazuma-eleven/opening3">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening3.jpg') }}">
                <h2>Opening 3</h2>
            </a>
        </div>
        <div class="columna">
            <a href="/inazuma-eleven/opening4">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening4.webp') }}">
                <h2>Opening 4</h2>
            </a>
        </div>
        <div class="columna">
            <a href="/inazuma-eleven/opening5">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening5.jpg') }}">
                <h2>Opening 5</h2>
            </a>
        </div>
        <div class="columna">
            <a href="/inazuma-eleven/opening6">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/openings/opening6.jpg') }}">
                <h2>Opening 6</h2>
            </a>
        </div>
    </div>
{% endblock %}