{% extends "layout.html" %}

{% block title %}Seleccionar Temporada{% endblock %}

{% block content %}
    <h2>Selecciona la temporada</h2>
        
    <div class="contenedor-principal">
        <div class="columna">
            <a href="/inazuma-eleven">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven/portada.jpg') }}" alt="Inazuma Eleven">
                <h2>Inazuma Eleven</h2> 
            </a>
        </div>

        <div class="columna">
            <a href="/inazuma-go">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven_go/portada.jpg') }}" alt="Inazuma GO">
                <h2>Inazuma Eleven GO</h2>
            </a>
        </div>

        <div class="columna">
            <a href="/inazuma-go-chrono-stones">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven_go_chrono_stones/portada.jpg') }}" alt="Chrono Stones">
                <h2>Inazuma Eleven GO Chrono Stones</h2>
            </a>
        </div>

        <div class="columna">
            <a href="/inazuma-go-galaxy">
                <img src="{{ url_for('static', filename='img/temporadas/inazuma_eleven_go_galaxy/portada.jpg') }}" alt="Galaxy">
                <h2>Inazuma Eleven GO Galaxy</h2>
            </a>
        </div>
    </div>
{% endblock %}
